:root{
    --blue:#18244F;
    --white: #FFFFFF;
    --dark-purple: #69398C;
    --light-purple: #B794E4;
    --medium-purple: #9344CC;
    --nude: #FBFBFB;
    --grey:#c1c1c1;
    --violet: #b794e473;
}
.bg-1{
    background-color: var(--dark-purple);
}
.bg-2{
    background-color: var(--medium-purple);
}
.bg-3{
    background-color: var(--light-purple);
}
body {
    margin: 0;
    padding: 0;
    font-family: 'Raleway', sans-serif;
    color: var(--blue);
}
.fa-chevron-down{
    color: var(--medium-purple);
}
a:not([href]):not([tabindex]) {
     color: var(--white);
    text-decoration: none;
}
a:hover{
    color:var(--grey);
}
.hero {
    background-image: url('https://s3.amazonaws.com/gobcl-prod/public_files/Campa%C3%B1as/Saludable-Mente/mujer/img/bg-hero.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    height: 500px;
}
.navigation{
    background-color: #69398C;
}

nav#menu > div > ul.nav> .nav-item > .nav-link{
    color: var(--white);
}
nav#menu > div > ul.nav> .nav-item > .nav-link:hover {
    transform: scale(1.2);
    opacity: 0.5;
    transition: all .5s ease-out;
}
.logo {
    height: 40px;
    margin-top: -35px;
}

/*--------------Primera sección, información general del landing ----------------------*/
.info{
    font-size: 24px;
    line-height: 2.2rem;
    word-spacing: 2px;
    text-align: justify;
}
.img-hover:hover{
    filter: opacity(.5);
}
hr{
    height: 1px;
    width: 70%;
    background-color: var(--violet);
    margin-bottom: 30px;
}
/*--------------Segunda sección, información violencia a la mujer----------------------*/
.violencia{
    background-color: var(--nude);
    border-radius: 50px;
}
h2.text-center {
    letter-spacing: 1px;
}
.info-violencia{
    padding: 2.5rem;
    display: grid;
    grid-template-columns: 700px 200px;
    grid-column-gap: 50px;
    grid-row-gap: 70px;
    justify-content: center;
}
.violencia-item{
    display: grid;
    grid-template-columns: 400px auto;
    grid-column-gap: 40px;
    justify-content: center;
}
.btn-informacion{
    border: inherit;
    border-radius: 40px ;
    padding: 1px 16px ;
    color: var(--white);
    font-weight: 700;
    font-size: 14px;
}
  .icon{
    display: grid;
    grid-auto-columns: auto;
    justify-content: center;
    align-content: center;
}
  .cuadrado {
    width:30vh;
    max-width:100px;
    height:25vh;
    max-height:100px;
    position:relative;
    border-radius: 20px;
  }
/*-----------------Seccion Guias----------------------------*/
.info-guias{
    padding: 40px;
    display: grid;
    grid-template-columns: auto auto;
    grid-column-gap: 40px;
    grid-row-gap: 80px;
    justify-content: center;
}
.guia{
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    border-radius: 10px;
    transition: transform .2s; /* Animation */
}
.guia:hover {
    transform: scale(1.1);
}
.descarga{
    color: var(--medium-purple);
    font-weight: 700;
}
/*------------------------Corresponsabilidad-------------------------*/
.corresponsabilidad{
    display: grid;
    grid-template-columns: 400px 500px;
    grid-row-gap: 80px;
    justify-content: center;
}
/*------------------Seccion embarazadas y lactantes-----------------------*/
.embarazadas{
    display: grid;
    grid-template-columns: 400px auto;
    grid-column-gap: 40px;
    justify-content: center;
}
.guias-madres{
    display: grid;
    grid-template-columns: 200px 400px;
    grid-gap: 30px;
    justify-content: center;
}
/*-----------------Seccion autocuidado---------------------*/
.autocuidado{
    display: grid;
    grid-template-columns: 400px 400px;
    grid-row-gap: 80px;
    justify-content: center;
}
.videos{
    display: grid;
    grid-template-columns: 400px 400px;
    grid-column-gap: 40px;
    justify-content: center;
}
/* ----------------------- FOOTER ----------------------- */
.footer {
    bottom: 0;
    width: 100%;
    line-height: 1.5rem;
    background-color: #001c41;
    color: #ffffff;
    position: relative;
}
.border-bottom {
    border-bottom: 1px solid #192e85 !important;
}
.separa-logo {
    display: inline-block;
}
.gob-txt{
    line-height: 1.2rem;
    text-align: right;
}
.redes-sociales{
    display:flex;
    justify-content:stretch;
    justify-content: center;
    border-left: 2px solid white;
}
.socialmedia{
    display: flex;
    text-align: left;
    flex-direction: row;
}
footer a, footer a:visited, footer a:active{
    color: #ffffff;
    font-weight: 400;
}
footer a:hover {
    color: white;
    text-decoration: none;
}
/* mantiene el logo de gob en el bottom de la pagina */
.vertical-align-bottom{
    position: absolute;
    bottom: 0;
}
/* ----------------------- REDES SOCIALES ----------------------- */
.fa-instagram, .fa-twitter, .fa-facebook-f, .fa-linkedin {
    padding: 5px 8px;
    font-size: 1.2rem;
    display:flex;
    justify-content: space-around;
    transition: all 0.3s ease-in-out;
    color: #FFFFFF;
}
.col-12, .col-md-9, .col-lg-9, .col-4, .col-md-4, .col-md-3, .col-lg-3, .col {
    float: left;
}
ul li {
    padding-bottom: 15px;
}
.separador {
    color: #0F69C4;
}
/* ----------------------- MEDIA QUERIES ----------------------- */
@media (max-width: 1360px) {
    .container{
        max-width: 1360px;
    }
}
@media (max-width: 992px) {
    .logo {
        height: 30px;
        margin-top: -35px;
    }
    .violencia-item{
        grid-template-columns: 400px auto;
        margin-bottom: 40px;
        margin-top: 50px;
    }
    .info-violencia{
        grid-template-columns: auto 100px;
        padding: 1.875rem;
    }
    div#embarazadas {
        margin-top: 50px;
    }
    .corresponsabilidad{
        grid-template-columns: 200px 300px;
        grid-column-gap: 60px;

    }
    .embarazadas{
        grid-template-columns: 400px auto;
        margin-bottom: 40px;
        margin-top: 50px;
    }
    .autocuidado{
        grid-template-columns: 200px 300px;
        grid-column-gap: 60px;

    }
}
@media (max-width: 760px){
    .hero {
        height: 400px;
    }
    .separa-logo {
        display: grid;
        grid-template-rows: 45px 46px;
        row-gap: 20px;
    }
    .gob-txt{
        text-align: left;
    }
    .violencia-item{
        grid-template-columns: 400px 200px;
        grid-column-gap: 20px;
        margin-bottom: 40px;
        margin-top: 50px;
    }
    .info-violencia{
        grid-row-gap: 60px;
    }
    h4.font-weight-bold {
        font-size: 20px;
    }
    .info-guias{
        grid-template-columns: 600;
        grid-row-gap: 60px;
    }
    .corresponsabilidad{
        grid-column-gap: 60px;
    }
    div#embarazadas {
        margin-top: 50px;
    }
    .embarazadas{
        grid-template-columns: 400px 200px;
        grid-column-gap: 20px;
        margin-bottom: 40px;
        margin-top: 50px;
    }
    .guias-madres{
        grid-template-columns: 150px 400px;
        grid-column-gap: 20px;
        margin-bottom: 40px;
    }
    .autocuidado{
        grid-column-gap: 60px;
    }
}
@media (max-width: 540px) {

    nav#menu {
        padding-left: 0;
        padding-right: 0;
    }
    .hero {
        height: 300px;
    }
    .info{
        font-size: 1rem;
    }
    .violencia-item{
        grid-template-columns: 250px;
        grid-row-gap: 30px;
    }
    .info-violencia{
        grid-template-columns: 250px;
        grid-row-gap: 40px;
    }
    .info-guias{
        grid-template-columns: 250px;
        grid-row-gap: 30px;
    }
    div#corresponsabilidad h2 {
        font-size: 30px;
    }
    .corresponsabilidad{
        grid-template-columns: 250px;
        grid-row-gap: 30px;
    }
    .embarazadas{
        grid-template-columns: 250px;
        grid-row-gap: 30px;
    }
    .guias-madres{
        grid-template-columns: 60px 200px;
        margin-bottom: 40px;
    }
    .madres{
        width: 70px;
    }
    .autocuidado{
        grid-template-columns: 200px;
        grid-row-gap: 30px;
    }
}

@media (max-width: 320px){
    div#corresponsabilidad h2 {
        font-size: 25px;
    }
}